.checkout-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.back-to-cart button {
    width: 300px;
    height: 50px;
    margin-left: 50px;
}

.error-message {
    color: red;
}

.checkout-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.address-container,
.payment-container,
.cart-items-container {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;

}

.address-container textarea {
    width: 300px;
    height: 72px;
    color: #797979;
}

.cart-items-container {
    width: 800px;
}

.payment-container select {
    width: 300px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #797979;
}

.cart-image-body {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 400px;
}



.product-image-container img {
    width: 90px;
    height: 60px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 6px;
}

.product-image-container {
    position: relative;
    margin: 10px;
}

.product-info-data {
    top: 100%;
    background-color: white;
    padding: 5px;
    /* border: 1px solid #ccc;  */
}

.product-info-data p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.left-order-button {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 30px;
    margin-top: 50px;

}

.order-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn button {
    margin-right: 20px;
    width: 200px;
    background-color: #FFD600;
    color: #000000;
    border-radius: 5px;
}

.place-order-button {
    width: 150px;
    padding: 10px;
    background-color: #FFD600;
    color: #000000;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
}

.left-order-button p {
    margin: 0;
    text-align: left;
    font-size: 14px;
    color: #B52B00;
    font-family: "Roboto", sans-serif;
    font-family: 400;

}

h3 {
    color: #B52B00;
}

.right-container {
    width: 450px;
    height: 400px;
    border: 4px solid #E1E1E1;
    border-radius: 16px;
    padding: 20px;
    /* Add padding for inner content */
    box-sizing: border-box;
    /* Include padding and border in the width and height */
}

.right-container button {
    width: 100%;
    padding: 10px;
    background-color: #FFD600;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    /* Add margin below the button */
}

.right-container p {
    margin: 10px 0;
    /* Add margin for spacing */
}

.order-summary {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.order-summary h3 {
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    .checkout-page {
        /* position: fixed; */
        width: 450px;
    }

    .left-order-button,
    .left-container {
        width: 427px;
        margin-bottom: 37px;
    }

    .right-container,
    .back-to-cart {
        display: none;
    }

    .checkout-page {
        max-width: 450px;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .address-container,
    .payment-container,
    .cart-items-container {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

}